<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<br/><br/>

<a href = "/">All</a>
<a href = "/?category=Alcohol">Alcohol</a>
<a href = "/?category=Furniture">Furniture</a>
<a href = "/?category=Toiletries">Toiletries</a>
<a href = "/?category=Shoes">Shoes</a>
<a href = "/?category=Jewelry">Jewelry</a>

<br/><br/>

</body>
</html>